# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Environment files
.env

# Large datasets
*.csv
*.xlsx
*.parquet

# Power BI temp files
*.tmp
*.log